.sidebar {
    width: 379px;
    transition: width .4s;
    overflow: hidden;
    background-color: #121212;
    color: azure;
    border-radius: 9px;
}

.library {
    color: aliceblue;
    background-color: transparent;
    padding: 10px 20px; /* espacio interno */
    font-size: large;
    border: none;
    white-space: nowrap;
    
}

.library.short{
    width: 70px;
    height: 70px;
}

.sidebar .text{
    color: azure;
    border: 1;
    background-color: #ffffff1a;
    border-color: transparent;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -15px;
    white-space: nowrap;
}

.sidebar .text:hover{
    background-color: #ffffff36;
    cursor: pointer;
}

.sidebar .text:active{
    background-color: #ffffff4f;
}

.sidebar.short {
    width: 70px;
}


.sidebar.short .text {
    display: none;   
}

.sidebar img {
    width: 50px;
    height: 50px;
}

.buttons-header{
    display: inline-flex;
    height: 45px;
}

.text.add{
    justify-content: flex-end;
    margin-left: 90px;
}

.input-normal{
    color: white;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    font-size: large;
}

.input-normal.short{
    display: none;
}



#playlists {
    display: flex;
    align-items: center;
    justify-content: space-between; /* <-- Esto manda Recent a la derecha */
    width: 100%;
    margin-bottom: 10px;
}

.recent{
    margin-right: 10px;
    background-color: transparent;
    font-size:medium;
    color: rgba(255, 255, 255, 0.479);
    border: 1;
    background-color: transparent;
    border-color: transparent;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    white-space: nowrap;
}

.recent:hover{
    color:white;
    font-size: large;
    transition: all .2s;
}

.text.browser{
    background-color: transparent;
    font-size: large;
}