body{
    background-color: black;
}

.sidebar {
    width: 379px;
    overflow-x: hidden;
    background-color: #121212;
    color: white;
    border-radius: 9px;
    height: 100%;
    position: fixed;
}

.library {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: transparent;
    padding: 10px 20px; /* espacio interno */
    font-size: large;
    border: none;
    white-space: nowrap;
}

.library.short{
    justify-content: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    padding: 18px 21px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
}
.library.short:hover{
    background-color: gray;
    border-radius: 8px;
    background-color: #ffffff4f;
}

.sidebar .text{
    font-family: "Roboto", sans-serif;
    color: white;
    border: 1;
    background-color: #ffffff1a;
    border-color: transparent;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -15px;
    white-space: nowrap;
}

.sidebar .text:hover{
    background-color: #ffffff36;
    cursor: pointer;
}

.sidebar .text:active{
    background-color: #ffffff4f;
}

.sidebar.short {
    width: 84.5px;
}


.sidebar.short .text {
    display: none;   
}

.sidebar img {
    width: 50px;
    height: 50px;
}

.buttons-header{
    display: inline-flex;
    height: 45px;
}

.text.add{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    justify-content: flex-end;
    margin-left: 90px;
}

.input-normal{
    color: white;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    font-size: large;
}

.input-normal.short{
    display: none;
}



#playlists {
    display: flex;
    align-items: center;
    justify-content: space-between; /* <-- Esto manda Recent a la derecha */
    width: 100%;
    margin-bottom: 10px;
}

.recent{
    margin-right: 10px;
    background-color: transparent;
    font-size:medium;
    color: rgba(255, 255, 255, 0.479);
    border: 1;
    background-color: transparent;
    border-color: transparent;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    white-space: nowrap;
}

.recent.short{
    display: none;
}

.recent:hover{
    color:white;
    font-size: large;
    transition: all .2s;
}

.text.browser{
    background-color: transparent;
    font-size: large;
}

.sidebar-container{
    align-items: center;
    margin-inline: 10px;
}


.container{
    display: flex;
}

.container:hover{
    border-radius: 8px;
    background-color: #ffffff4f;
    cursor: pointer;
}

.content{
    padding: 0px 10px;
}


img{
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 9px;
}

.h3{
    font-family: "Roboto", sans-serif;
    margin-top: 11px;
    
}

p{
    font-family: "Roboto", sans-serif;
    margin-top: -14px;
    color: rgb(175, 175, 175);
    margin-bottom: 11px;
}

.container .image.short {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 7px;
}

.content.short{
    display: none;
}

.buttons-header.short{
    display: none;
}