html, body {
    height: 100%;
    overflow: hidden;
}

body{
    background-color: black;
}

#topbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 98%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 50;
}

/* izquierda del topbar (flechas + buscador) */
.topbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topbar-left button {
    background: #181818;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}

.topbar-search input {
    background-color: #2a2a2a;
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
    width: 250px;
    color: white;
    outline: none;
}

/* derecha del topbar (usuario, notificaciones, etc.) */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topbar-right button {
    background-color: #2a2a2a;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    color: white;
}

.search-results {
    position: absolute;
    top: 45px;
    left: 16%;
    width: 250px;
    max-height: 250px;
    overflow-y: auto;
    background: #181818;
    border-radius: 8px;
    display: none; /* se muestra solo cuando hay resultados */
    padding: 5px 0;
    z-index: 999;
}

.search-results .search-result {
    padding: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: background .2s;
}

.search-results div:hover {
    background-color: #333;
}

.search-results::-webkit-scrollbar {
    width: 5px;
}

.search-results::-webkit-scrollbar-thumb {
    background: #555;
}


#center {
    position: relative;
    margin-left: 380px;
    margin-bottom: 90px;
    padding: 0;
    border-radius: 8px;
    margin-top: 3%;
    
    

    height: 85.7%;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: #1a1a1a;
}


#center-content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: white;
    background-color: #0f0f0f;
    align-items: center;
    justify-items: center;  
}

#center-content img{
    width: 20rem;
    height: 20rem;
    margin: 1.5rem;
    border-radius: 8px;
    box-shadow: 1px 1px 100px #121212;
}

#center-content h1{
    font-size: 9rem;
    margin: 0;
}
#center .center-section{
    height: 100%;
    width: 100%;
}
.center-songlist{
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    margin-inline: 0.5rem;
    border-radius: 8px;
}

.center-songlist:hover{
    background-color: #2e2e2e;
    box-shadow: 2px 2px 10px black;
}

.center-songlist h1{
    margin-left: 3rem;
    margin-right: 1rem;
}

.center-songlist img{
    width: 4rem;
    height: 4rem;
}

.song-details h4{
    margin-top: 0.7rem;
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: x-large;
}

.song-details{
    margin-right: 8rem;
}

.song-details p{
    color: rgb(192, 192, 192);
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-bottom: 0;
    margin-right: 8rem;
    font-size: large;
}

.songs .h3-center{
    color: rgb(192, 192, 192);
    margin-inline: 7rem;
    margin-top: 1.8rem;
}


.songs .duration{
    color: white;
    margin-top: 2rem;
    margin-left: 7rem;
}


#center::-webkit-scrollbar {
    width: 8px;
}

#center::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

#center::-webkit-scrollbar-thumb:hover {
    background: #888;
}


.sidebar {
    width: 379px;
    top: 6.7%;
    position: fixed;
    overflow-x: hidden;
    background-color: #121212;
    color: white;
    border-radius: 9px;
    height: 85.6%;
    overflow-y: auto;  
}

.sidebar::-webkit-scrollbar{
    width: 5px;
}

#sidebar::-webkit-scrollbar-track {
    background: transparent;   
    border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: transparent;
}

#sidebar:hover::-webkit-scrollbar-thumb {
    background: #ffffff50;
}

.library {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: transparent;
    padding: 10px 20px; /* espacio interno */
    font-size: large;
    border: none;
    white-space: nowrap;
}

.library.short{
    justify-content: center;
    text-align: center;
    display: sticky;
    cursor: pointer;
    padding: 18px 21px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
}
.library.short:hover{
    background-color: gray;
    border-radius: 8px;
    background-color: #ffffff4f;
}

.sidebar .text{
    font-family: "Roboto", sans-serif;
    color: white;
    border: 1;
    background-color: #ffffff1a;
    border-color: transparent;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -15px;
    white-space: nowrap;
}

.sidebar .text:hover{
    background-color: #ffffff36;
    cursor: pointer;
}

.sidebar .text:active{
    background-color: #ffffff4f;
}

.sidebar.short {
    width: 89.5px;
}


.sidebar.short .text {
    display: none;   
}

.sidebar img {
    width: 50px;
    height: 50px;
}

.buttons-header{
    display: inline-flex;
    height: 45px;
}

.text.add{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    justify-content: flex-end;
    margin-left: 90px;
}

.input-normal{
    color: white;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    font-size: large;
}

.input-normal.short{
    display: none;
}



#playlists {
    display: flex;
    align-items: center;
    justify-content: space-between; /* <-- Esto manda Recent a la derecha */
    width: 100%;
    margin-bottom: 10px;
}

.recent{
    margin-right: 10px;
    background-color: transparent;
    font-size:medium;
    color: rgba(255, 255, 255, 0.479);
    border: 1;
    background-color: transparent;
    border-color: transparent;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    white-space: nowrap;
}

.recent.short{
    display: none;
}

.recent:hover{
    color:white;
    font-size: large;
    transition: all .2s;
}

.text.browser{
    background-color: transparent;
    font-size: large;
}

.sidebar-container{
    align-items: center;
    margin-inline: 10px;
}


.container{
    display: flex;
}

.container:hover{
    border-radius: 8px;
    background-color: #363636ab;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.content{
    padding: 0px 10px;
}


img{
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 9px;
}

.h3{
    font-family: "Roboto", sans-serif;
    margin-top: 11px;
    
}

.sidebar-container p{
    font-family: "Roboto", sans-serif;
    margin-top: -14px;
    color: rgb(175, 175, 175);
    margin-bottom: 11px;
}

.container .image.short {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 7px;
}

.content.short{
    display: none;
}

.buttons-header.short{
    display: none;
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 97.6%;
    height: 50px;       /* o lo que tú quieras */
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 1000;      /* para que quede arriba de todo */
}

.song {
    display: flex;
}



.footer img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    width: 55px;
    height: 55px;
    border-radius: 8px;
}

.footer .text{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.footer h3{
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 0;
}

.footer p{
    font-size: small;
    margin-top: 0;
    color: gray;
}

footer .reproducer{
    align-items: center;
    display: table-column;

}

footer .reproducer button{
    background-color: transparent;
    color: rgb(199, 199, 199);
    border: none;
    font-size: x-large;
    margin-inline: 10px;
    cursor: pointer;
}

footer .reproducer .play{
    font-size: xx-large;
    color: white;
}

footer .reproducer button:hover{
    transition: all .3s;
    color: white;
    text-shadow: 1px 1px 5px white;
}

.time-bar{
    width: 380px;
}


input[type="range"] {
    -webkit-appearance: none;
    height: 4px;
    border-radius: 4px;
    background: #555;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #1db954;
}


.sidebar .header {
    position: sticky;
    top: 0;
    padding-bottom: 10px;
    background-color: #121212;   /* O el color que tenga tu sidebar */
    z-index: 10;
    transition: box-shadow .3s ease;
}

.sidebar .header.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.712);
}

.reproducer span{
    color: white;
    font-family: 'Roboto', sans-serif;
}


